<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="d30fecf9-63a0-417e-9f51-034778f56c81" Publisher="CN=LeeH" Version="1.0.0.5" />
  <Properties>
    <DisplayName>Windows8_Controls_Showcase</DisplayName>
    <PublisherDisplayName>LeeH</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Windows8_Controls_Showcase.App">
      <VisualElements DisplayName="Windows8_Controls_Showcase" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Windows8_Controls_Showcase" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" ShortName="Win8 Controls" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>